$color-primary: #0180ef;

.entity-browser-form {
	.form-managed-file {
		.form-file,
		.form-submit {
			display: table;
		}
		[data-drupal-selector="edit-upload-upload-button"] {
			display: none;
		}
		div[class*="form-item-upload-file"] {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			margin-left: 10px;

			.form-checkbox {
				display: none;
			}
			.option {
				cursor: default;
			}
			.cancel {
				position: absolute;
				cursor: pointer;
		        width: 20px;
		        height: 20px;
		        position: absolute;
		        top: 0;
		        right: 0;
		        cursor: pointer;
		        background: transparent;
		        text-indent: -9999px;
		        background: rgba(#fff, .85);

		        &:before,
		        &:after {
		            content: '';
		            position: absolute;
		            width: 20px;
		            height: 2px;
		            border-radius: 99px;
		            background: red;
		        }
		        &:before {
		            top: 2px;
		            right: 4px;
		            transform: rotate(-45deg);
		            transform-origin: top right;
		        }
		        &:after {
		            bottom: 2px;
		            right: 4px;
		            transform: rotate(45deg);
		            transform-origin: bottom right;
		        }
		        &:hover {
		        	background: #fff;
		        }
			}
		}
		[data-drupal-selector="edit-upload-remove-button"] {
			display: none;
		}
	}
	.views-col {
		padding-left: 3px;
		padding-right: 3px;
		box-sizing: border-box;
		word-break: break-word;
	}
	.views-field-rendered-entity {
		position: relative;

		&.selected {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 4px solid $color-primary;
			}
		}
		& + .views-field-entity-browser-select {
			display: none;
		}

	}

	&.entity-browser-media-icon-browser-form {
		.views-field-rendered-entity {
			text-align: center;

			img {
				max-width: 32px;
				max-height: 32px;
			}
		}	
	}
}

.field--type-entity-reference {
	input[data-drupal-selector*="entity-browser-open-modal"] {
		margin-left: 0;
	}

	.entities-list {
		.rendered-entity {
			display: flex;
			align-items: center;
			align-content: center;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				opacity: 1;

				& > .media-image,
				& > article {
					opacity: .6;
				}
			}

			& > .media-image,
			& > article {
				flex: 110px 0 0;

				.media-library-item__name {
					display: none;
				}
				.js-media-library-item-preview + div {
					font-size: 11px;
					word-break: break-word;
				}
			}

			.remove-button,
			.edit-button {
				margin: 0 0 0 15px;
			}
		}
	}
}