{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('vb_media/lazyload') }}
<div{{ attributes.addClass('media-image') }}>
  {{ title_suffix.contextual_links }}
{% set file = media.field_media_image|file_uri %}
{% set srcset = [
  file|image_style('landscape_320') ~ ' 320w 240h',
  file|image_style('landscape_480') ~ ' 480w 360h',
  file|image_style('landscape_640') ~ ' 640w 480h',
  file|image_style('landscape_800') ~ ' 800w 600h',
  file|image_style('landscape_920') ~ ' 920w 690h',
  file|image_style('landscape_1110') ~ ' 1110w 832h',
  file|image_style('landscape_1600') ~ ' 1600w 1200h',
] %}

  {% if content.field_media_image.0['#image_style'] is defined %}
    <div class="responsively-lazy" data-onlazyload="this.className+=' loaded';">
      <img
        src="{{ file|image_style(content.field_media_image.0['#image_style']) }}"
        data-src="{{ file|image_style(content.field_media_image.0['#image_style']) }}"
        srcset="data:image/svg+xml;base64,{{ base64 }}"
        alt="{{ media.field_media_image.alt }}"
        data-srcset="{{ srcset|join(', ') }}" />
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</div>